.header {

    display: flex;
    flex-direction: column;

    .first-item {
        margin: 1% 1%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;
        align-items: center;
        justify-content: space-between;    

    .logo {
        
        width: 100%;
        letter-spacing: 1px;
        line-height: 28px;
        height: 28px;
        font-weight: bold;
        text-align: start;

        .link {
            text-decoration: none;
            color: black;
        }

        
    }


    .user-panel {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        
        .link {
            text-decoration: none;
            color: black;
        }

        .element {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-width: 64px;
            height: 48px;
            justify-content: center;
            font-size: 14px;
            cursor: pointer;
            position: relative;
            


            i {
                text-align: center;
                font-size: 14px;
            }

            span {
                font-size: 10px;
                line-height: 12px;
                white-space: nowrap;
                text-align: center;
                


             
            }

            .container-cart {
                visibility: hidden;
                background-color: black;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 5px;
                right: 19px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
       

                .counter {
                    color: red;
                    font-weight: bold;
                    position: absolute;
                    // top: 10px;
                    // right: 10px;
                    font-size: 8px;
                    line-height: 8px;
                    color: white;


    
    
                }
            }




        }

        :hover {
            color: grey;
        }

    }
}

    .second-item {
        margin: 1% 1%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .menu {
            
            display: flex;
            width: 32px;
    
            .element {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                cursor: pointer;
                text-align: center;
    
                i {
                    text-align: center;
                    font-size: 14px;
                }
    
                span {
                    font-size: 10px;
                    line-height: 12px;
                    white-space: nowrap;
                    text-align: center;
                }


    
    
            }
    
            :hover {
                color: grey;
            }


    } 

    .search {
        width: 90%;

        input {
            width: 100%;
            border: 1px solid rgb(204, 204, 204);
            border-radius: 20px;
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            padding: 5px 0;

        }
    }
}

}