.list-container {
    width: 100%;
    padding: 2px 0px;
    // border-radius: 8px;
    // box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px, rgb(0 0 0 / 8%) 0px 0px 2px 1px;
    text-decoration: none;
    margin: 4px 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    .link {
        text-decoration: none;
        color: gray;
    }

    .name {
        font-size: 24px;
        font-weight: bolder;

        p {
            text-align: center;
            margin-bottom: 30px;
            margin-top:  -10px;
            // margin-left: 20px;
            text-transform: uppercase;
        }
        
    }

    .options {
        display: flex;
        flex-direction: row;
        border: 1px solid rgb(235, 235, 235);
        height: 46px;
        
        button {
            width: 100%;
            background-color: transparent;
            font-size: 14px;
            border: 1px solid rgb(235, 235, 235);

          
        }

        
    }

    .product-container {
       
        
        width: 95%;
        margin: 10px auto;
        box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px, rgb(0 0 0 / 8%) 0px 0px 2px 1px;

        .product-name {
            margin-left: 10px;
            font-weight: bold;

            span {
                font-weight: normal;
            }
        }

        .product-image {
           box-sizing: content-box;
           margin-top: 10px;
           display: flex;
           justify-content: center;
           align-items: center;
           width: 233px;
           height: 200px;
           margin: auto;

           img {
            width: 70%;
            height: 70%;
           }
        }

        .rating {
             i {
                margin-left: 10px;
                color: gold;
             }
        }

        .bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;


            .price {
                margin-left: 10px;
                width: 50%;
                display: inline-flex;
                justify-content: flex-start;
                -webkit-box-align: baseline;
                align-items: baseline;

                .price-old {
                    font-size: 13px;
                    line-height: 16px;
                    color: rgb(148, 148, 148);
                    font-weight: normal;
                    text-decoration: line-through;
                    margin-right: 8px;           }
        
                   .price-discount {
                    font-size: 18px;
                    line-height: 24px;
                    color: rgb(77, 77, 77);
                    font-weight: normal;
                    text-decoration: none;           }
            }

            .options{
                width: 30%;
                border: none;
                display: flex;
                justify-content: flex-end;


                button {
                    border: none;
                    cursor: pointer;
                    font-size: 18px;
                    line-height: 24px;
                    color: rgb(77, 77, 77);
                    font-weight: normal;
                    text-decoration: none;  

                    i: {
                        color: grey;
                    }
                }

            }
            
        }

    }
}